<!DOCTYPE html>
<html>
<head>
	<title>examen</title>
	<link rel ="stylesheet"  href="static/estilo.css"
</head>

<body>
	<h1>UNIVERSIDAD AUTONOMA DE CHIAPAS</h1>
	
	
	<div><img src="static\img.png" style="position: absolute; top: 0; left: 0;"></div>

	
    
    <body>
	<div><img src="static\cod.jpg" style="text-align:left; "></div>
        
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Bienvenido
                    </div>
                    <form id="loginform">
                        <input type="text" name="usuario" placeholder="Usuario" required>
                        
                        <input type="password" placeholder="Contraseña" name="password" required>
                        
                        <button type="submit" title="Ingresar" name="Ingresar">Iniciar Sesión</button>
                    </form>
                    <div class="pie-form">
                        <a href="#">¿Perdiste tu contraseña?</a>
                        <a href="#">¿No tienes Cuenta? Registrate</a>
                    </div>
                </div>
            </div>
        </div>
            
    </body>
	

	<footer>
		<p>COPYRIGHT DERECHOS RESERVADOS | DULCE ABRIL MORALES MARTINEZ </p>
	</footer>
</body>
</html>